{{#> AuthLayout title=title description=description logo=logo }}
{{#each inputs}}
{{> Input size=size type=type placeholder=placeholder}}
{{/each}}
{{> Button label=label size=size style=style type=type width=width }}
<p>First time here? {{> Link text=link.text href=link.href}}</p>
{{/AuthLayout}}
