{{#> MainLayout}}
{{> FlashMessage title=title description=description image=image alt=title }}
<div class="links">
  {{#each links}}
  {{> Link text=text href=href}}
  {{/each}}
</div>
{{/MainLayout}}
