{{#> AuthLayout title=title description=description logo=logo onSubmit=onSubmit }}
  {{#each inputs as |input|}}
    {{{InputComponent input=input}}}
  {{/each}}
  {{{ButtonComponent size=button.size style=button.style type=button.type label=button.label width=button.width}}}
  <p>First time here? {{{LinkComponent link=link }}}</p>
  {{/AuthLayout}}
