{{#> AuthLayout title=title description=description logo=logo }}
  {{#each inputs as |input|}}
    {{> Input input=input}}
  {{/each}}
  {{> Button button=button }}
  <p>First time here? {{> Link link=link }}</p>
{{/AuthLayout}}
