{{#> AuthLayout title=title description=description logo=logo onSubmit=onSubmit }}
  {{#each inputs as |input|}}
    {{{InputComponent name=input.name size=input.size placeholder=input.placeholder type=input.type autocomplete=input.autocomplete onChange=input.onChange required=input.required }}}
  {{/each}}
  {{{ButtonComponent size=button.size style=button.style type=button.type label=button.label width=button.width}}}
  <p>First time here? {{{LinkComponent link=link }}}</p>
  {{/AuthLayout}}

