{{#> AuthLayout title=title description=description logo=logo }}
  {{#each inputs as |input|}}
    {{{ InputComponent name=input.name
                       ref=input.ref
                       size=input.size
                       placeholder=input.placeholder
                       type=input.type
                       autocomplete=input.autocomplete
                       errorMessage=input.errorMessage
                       onChange=input.onChange
                       required=input.required
                       disabled=false
    }}}
  {{/each}}
  {{{ ButtonComponent size=button.size style=button.style type=button.type
                      label=button.label width=button.width }}}
  <p>First time here? {{{ LinkComponent ref=link.ref
                                        text=link.text
                                        href=link.href
                                        rel=link.rel
                                        target=link.target
                                        onClick=link.onClick
                                        isWarning=link.isWarning }}}</p>
{{/AuthLayout}}
