<section class="top-panel">
  {{> Input input=topPanel.search}}
  <a href="/account" class="top-panel__user-account link" aria-label="{{ topPanel.user.name }}">
    {{> Persona user=topPanel.user isImageOnly=true }}
  </a>
</section>
