.flash-message {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-static-l);
  align-items: center;
}

.flash-message__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-static-m);
  align-items: center;

  padding: 0 var(--spacing-static-xl);
}
