<main class="main">
  <img class="image" src="{{ image }}" width="256" height="256" alt="{{ code }}" />
  <div class="content">
    <h2 class="title">{{ code }}</h2>
    <p class="description">{{ description }}</p>
  </div>
  {{> Link text=link.text href=link.href}}
</main>
