{{#> AuthLayout title=title description=description logo=logo }}
  {{#each inputs}}
    {{> Input size=size type=type placeholder=placeholder}}
  {{/each}}
  {{> Button label="Sign up" size="l" style="action" type="submit" width="full" }}
  <p>Signed up already? {{> Link text="Sign in" href="/login" }}</p>
{{/AuthLayout}}
