.panel-wrapper {
  display: flex;
  gap: var(--spacing-static-l);
  align-items: center;

  width: 100%;
  min-height: 80px;
  padding: var(--spacing-static-m) var(--spacing-static-l);
}

.panel-wrapper[data-border-side='bottom'] {
  border-bottom: 1px solid var(--color-border);
}

.panel-wrapper[data-border-side='top'] {
  border-top: 1px solid var(--color-border);
}
