.chat-preview {
  display: flex;
  gap: var(--spacing-static-m);
  align-items: center;

  height: 80px;
  padding: var(--spacing-static-s) var(--spacing-static-l);
}

.chat-preview__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-static-xs);

  text-align: start;
}

.chat-preview__heading {
  display: flex;
  gap: var(--spacing-static-s);
}

.chat-preview__name {
  flex-grow: 1;
  white-space: nowrap;
}

.chat-preview__info {
  display: flex;
}

.chat-preview__last-message {
  overflow: hidden;
  display: -webkit-box;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.chat-preview__unread {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 22px;
  height: 22px;

  color: var(--color-text-contrast);

  background-color: var(--color-warning);
  border-radius: 50%;
}

@media (hover: hover) {
  .chat-preview:hover {
    cursor: pointer;
    background-color: var(--color-simple-hover);
  }
}
