{{#> ChatsLayout}}
  <section class="chats__chats">
    {{> TopPanel top-panel=topPanel }}
    <div class="chats__list">
      {{#each chatPreviews}}
        {{> ChatPreview chat=chat}}
      {{/each}}
    </div>
  </section>
  <section class="chats__chat">
    {{#if noChat}}
      {{> FlashMessage message=noChat }}
    {{/if}}
  </section>
{{/ChatsLayout}}
