.chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.chats__list {
  flex-grow: 1;
}

.chats__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80px;
}

.chat {
  display: none;
  flex-direction: column;
  width: 100%;
  border-right: 1px solid var(--color-border);
}

.chat__content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-static-xl);
  align-items: flex-start;

  width: 100%;
  padding: var(--spacing-static-l) var(--spacing-static-2xl) 0;
}

@media (width > 760px) {
  .chat {
    display: flex;
  }
}
