{{#> ChatsLayout}}
  <section class="chats">
    {{> ChatsHeader }}
    <div class="chats__list">
      {{#each chatPreviews as |chat|}}
        {{> ChatPreview chat=chat isSelected=(isCurrent chat ../selectedChat) }}
      {{/each}}
      <div class="chats__button">
        {{> Button button=newChatButton }}
      </div>
    </div>
  </section>
  <section class="chat">
    {{> ChatHeader currentChat=(getValueByKey chatPreviews selectedChat) chat=selectedChat }}
    {{#if selectedChat}}
      <div class="chat__content">
        {{#each (getValueByKey messages selectedChat) as |message|}}
          {{> Message message=message}}
        {{/each}}
      </div>
      <div class="chat__input">
        {{> ChatInput }}
      </div>
    {{else}}
      {{> FlashMessage message=noChat }}
    {{/if}}
  </section>
{{/ChatsLayout}}
