{{#> ChatsLayout}}
  <section class="chats__list">
    <p class="description">There will be a list of chats, account info etc.</p>
  </section>
  <section class="chats__chat">
    {{> FlashMessage title=title description=description image=image alt=alt }}
  </section>
{{/ChatsLayout}}