.chats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr) minmax(0, 2fr));
  width: 100dvw;
  height: 100dvh;
}

.chats__list {
  display: flex;
}

.chats__chat {
  display: none;
}

@media (width > 760px) {
  .chats__chat {
    display: flex;
  }
}
