<div class='avatar'>
  <img
    class='avatar__image' src='{{getFullImageUrl userAvatar}}'
    alt='User Avatar' />
  {{#if isCurrentUser}}
    {{{ InputComponent
      className='avatar__overlay'
      name='avatar'
      value=value
      ref=ref
      type='file'
      accept='image/*'
      onChange=onAvatarUpload
    }}}
  {{/if}}
</div>
