<div class='avatar'>
  <img class='avatar__image' src='{{userAvatar}}' alt='User Avatar' />
  {{#if isCurrentUser}}
    {{{ InputComponent
      name='avatar'
      label='Edit'
      value=value
      ref=ref
      type='file'
      accept='image/*'
      onChange=onAvatarUpload
    }}}
  {{/if}}
</div>
