:root {
  /* Color Tokens */
  --color-base-background: #202124;
  --color-generic-background: rgb(54 151 241 / 5%);
  --color-text-contrast: #000;
  --color-text-primary: #fff;
  --color-text-secondary: rgb(255 255 255 / 50%);
  --color-text-link: #2e669e;
  --color-text-link-hover: #d36507;
  --color-text-warning: #e9033a;
  --color-text-warning-hover: #bd0935;
  --color-warning: #e9ae56;
  --color-brand-primary: #3697f1;
  --color-brand-hover: #348bdc;
  --color-base-chat-background: rgb(54 151 241 / 25%);
  --color-border: rgb(255 255 255 / 10%);
  --color-dark-hover: rgb(255 255 255 / 70%);
  --color-simple-hover: rgb(255 255 255 / 5%);

  /* Spacing Tokens */
  --spacing-static-max: 128px;
  --spacing-static-3xl: 72px;
  --spacing-static-2xl: 36px;
  --spacing-static-xl: 20px;
  --spacing-static-l: 16px;
  --spacing-static-m: 12px;
  --spacing-static-s: 8px;
  --spacing-static-xs: 4px;
  --radius-static-l: 8px;

  /* Typography Tokens */
  --font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
  --heading-display: 600 normal 28px /36px var(--font-family);
  --subheader: 600 normal 16px /24px var(--font-family);
  --body-text-chat: 400 normal 16px /24px var(--font-family);
  --body-text-base: 400 normal 16px /24px var(--font-family);
  --caption-text: 400 normal 13px /18px var(--font-family);

  font: var(--body-text-base);
  color: var(--color-text-primary);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--color-base-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  min-height: 100dvh;
  margin: 0 auto;

  text-align: center;
}

.title {
  margin: 0;
  font: var(--heading-display);
}

.subheader {
  margin: 0;
  font: var(--subheader);
}

.description {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-base-background: #fff;
    --color-generic-background: #f1f1f1;
    --color-text-contrast: #fff;
    --color-text-primary: #000;
    --color-text-secondary: rgb(0 0 0 / 50%);
    --color-border: rgb(0 0 0 / 10%);
    --color-dark-hover: rgb(0 0 0 / 70%);
    --color-simple-hover: rgb(0 0 0 / 5%);
  }
}
