{{#> PanelWrapper border='top'}}
  <div class="chat-input">
    {{{ ButtonComponent icon=attachButton.icon label=attachButton.label type=attachButton.type width=attachButton.width isIconOnly=attachButton.isIconOnly onClick=attachButton.onClick }}}
    {{{ InputComponent input=chatInput }}}
    {{{ ButtonComponent icon=sendButton.icon label=sendButton.label type=sendButton.type width=sendButton.width isIconOnly=sendButton.isIconOnly }}}
  </div>
  {{/PanelWrapper}}
