{{#> PanelWrapper border='top'}}
  <div class="chat-input">
    {{{ ButtonComponent button=attachButton }}}
    {{{ InputComponent input=chatInput }}}
    {{{ ButtonComponent button=sendButton }}}
  </div>
{{/PanelWrapper}}